

<div class="comment clearfix">
	<div class="comment_content">
        <p class="comment_content"><%= comment.user.name %></p>       
		<p class="comment_content"><%= comment.content %></p>
		
	</div>

	<% if user_signed_in? %>
		<p><%= link_to 'Delete', [comment.post, comment],
			method: :delete,
			class: "button",
			data: { confirm: 'Are you sure?' } %>
               </p>
 	<% end %>
</div>
