<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "about.jpg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Hsiung Paul</h1>
		<p>您好，我是熊伯洋 ，畢業於國立中正大學通訊工程所網路組，大學就讀元智大學通訊工程學系。研究所研究網路安全相關領域，畢業論文是基於霧計算架構之行動共謀攻擊偵測機制，主要是雲端計算與手機安全結合，目的是減少手機傳輸資料量及偵測所消耗能量。</p>

		<p>經過一年的時間，已經完全handle這分工作，決定想轉行成前後端工程師，自修三個月架設網頁和後端基礎，目前研讀後端方面的工具，目標成為全端工程師。</p>
	</div>
</div>
